.categories {
  margin-bottom: 104px;
}

.category-title {
  width: 312px;
  margin: 0 auto 32px;
}

.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.category-cards .card {
  width: 312px;
  height: 288px;
  background-color: var(--background-secondary-color);
  box-sizing: border-box;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.category-cards .card.single-line {
  padding-top: 50px;
}

.category-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

.category-cards .card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

@media screen and (min-width: 768px) {
  .category-title {
    width: 100%;
  }
  .category-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .category-cards .card {
    width: 420px;
    height: 308px;
  }
  .category-cards .card h3 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .category-cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .category-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
