@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(destination.css);
@import url(payments.css);
@import url(testimonials.css);
@import url(footer.css);
